
/** Projects Page **/

.nb-lead {
    width: calc(100% - 450px);
}

#projects-header {
    background-color: #d2d2d2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#projects-header > input[type=checkbox] {
    position: relative;
    left: 5px;
    height: 17px;
    width: 17px;
    margin: 10px 0 10px 0;
}

.nb-project {
    display: inline-block;
    width: 272px;
    vertical-align: top;
    height: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .24);
    border: lightgray 1px solid;
    position: relative;
}

.nb-project .nb-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-right: 1px rgba(0, 0, 0, .125) solid;
    border-left: 1px rgba(0, 0, 0, .125) solid;
    background: radial-gradient(circle, rgb(15, 102, 134) 0%, rgb(2, 56, 68) 100%);
}

.nb-project > .panel-body > .panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 263px;
    display: block;
    margin: 0 0 10px;
}

.nb-project > .panel-body {
    padding: 5px;
}

.nb-project > .panel-body > .panel-text {
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}

/* create the ... */
.nb-project > .panel-body > .panel-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 15px;
    bottom: 2px;
    font-weight: bold;
    font-size: 1.1em;
}

/* hide ... if we have text, which is less than or equal to max lines */
.nb-project > .panel-body > .panel-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 15px;
    /* set width and height */
    width: 12px;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: #ffffff;
}

.nb-project.nb-stopped > .panel-body > .panel-text:after,
.nb-project.nb-project-new > .panel-body > .panel-text:after {
    background: #FFFFFF;
}

.nb-project > .panel-body > .nb-tags {
    position: absolute;
    bottom: 5px;
    width: 100%;
    overflow: hidden;
    height: 18px;
}

.nb-project > .panel-body > .nb-tags > .badge {
    display: inline-block;
    margin-right: 3px;
}

/** Begin list view */

.nb-project-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 53px;
    margin-bottom: 0;
}

.nb-project.nb-project-list:nth-child(even):not(.nb-project-new):not(:hover)  {
    background: #f2f7fd;
}

.nb-project-list > .nb-img-top {
    width: 17px;
    object-fit: cover;
    float: left;
    height: 17px;
    margin: 17px 0 10px 5px;
    border-radius: 8px;
    background: radial-gradient(circle, rgb(15, 102, 134) 0%, rgb(2, 56, 68) 100%);
    border: 2px rgb(2, 56, 68) solid;
}

.nb-project.nb-project-list.nb-stopped > .nb-img-top {
    background: #FFFFFF;
    border: 2px rgba(0, 0, 0, .125) solid;
}

.nb-project.nb-project-list.nb-project-new > .nb-img-top {
    background: none;
    border: none;
}

.nb-project-list > .nb-image {
    display: none;
    height: 26px;
    width: 26px;
    top: 13px;
    left: 38px;
}

.nb-project-list > .panel-body {
    display: inline-block;
    height: 51px;
    width: calc(100% - 200px);
    padding-left: 10px;
    padding-bottom: 0;
}

.nb-project-list > .panel-body > .panel-title {
    width: calc(100% - 10px);
    margin: 0;
}

#shares .nb-project-list > .panel-body > .panel-title {
    width: calc(100% - 200px);
}

.nb-project .badge.nb-copies {
    background-color: #777777;
    position: relative;
    top: -2px;
}

.nb-project-list > .panel-body > .panel-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.5em;
    padding-right: 0;
}

.nb-project-list > .panel-body > .nb-tags {
    position: absolute;
    right: 20px;
    width: auto;
    text-align: right;
}

.nb-project-list > .panel-body > .nb-tags > .badge {
    font-size: 0.9em;
}

.nb-project-list > .nb-owner {
    position: absolute;
    top: 6px;
    right: 50px;
    color: black;
    max-width: 225px;
    font-size: 0.9em;
    font-weight: normal;
    -webkit-text-stroke: unset;
}

.nb-project-list > .nb-gear-menu:hover {
    border: none;
    top:-2px;
    right: 1px;
}

.nb-project-list > .nb-icon-space {
    float: right;
    color: black;
    top: 4px;
}

.nb-project-list > .nb-checkbox-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 51px;
    width: 25px;
    float: left;
}

.nb-project-list > .nb-checkbox-wrapper > .nb-checkbox {
    left: 4px;
    top: 13px;
}

.nb-project-list > .nb-gear-menu {
    float: right;
    color: black;
    z-index: auto;
    top: -3px;
}

.nb-project-list .nb-gear-menu.open > button.dropdown-toggle {
  color: black;
}

.nb-project-list > .nb-gear-menu > button.dropdown-toggle,
.nb-project-list > .nb-gear-menu > button.dropdown-toggle:hover,
.nb-project-list > .nb-gear-menu > button.dropdown-toggle:focus,
.nb-project-list > .nb-gear-menu.open > button.dropdown-toggle:hover,
.nb-project-list > .nb-gear-menu.open > button.dropdown-toggle:focus {
    color: black;
}

div.nb-project-new.nb-project-list {
    margin-top: 10px;
}

div.nb-project-new.nb-project-list .nb-project-icon {
    margin-top: -19px;
    font-size: 20px;
    padding-left: 17px;
}

div.nb-project-new.nb-project-list > .nb-img-top {
    margin-left: 12px;
    padding-right: 35px;
}

.nb-project-list > .nb-invite > .nb-img-top {
    padding: 0;
    width: 275px;
    height: 100%;
    float: right;
    border-bottom: none;
}

.nb-project-list .nb-invite-accept > i.fa,
.nb-project-list .nb-invite-reject > i.fa {
    font-size: 32px;
}

.nb-project-list > .nb-invite > .nb-invite-line {
    width: 100px;
    float: right;
    height: auto;
    max-height: none;
    border-top: none;
    top: 0;
    right: 275px;
    white-space: normal;
    font-size: 0.8em;
}

.nb-project.nb-project-list > .panel-body > .panel-text:before,
.nb-project.nb-project-list > .panel-body > .panel-text:after {
    display: none;
}

/** End list view */

div.nb-project-new {
    border: lightgray 2px dashed;
    box-shadow: none;
}

div.nb-project-new > .nb-img-top {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
}

.nb-icon-space {
    position: absolute;
    top: 8px;
    right: 52px;
    width: 100px;
    text-align: right;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.nb-published-icon,
.nb-shared-icon {
    width: 25px;
}

.nb-gear-menu {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: transparent solid 1px;
    border-radius: 3px;
    z-index: 3;
}

.nb-gear-menu > button {
    color: white;
    background-color: transparent;
    border: none;
}

.nb-gear-menu > button.dropdown-toggle:hover,
.nb-gear-menu > button.dropdown-toggle:focus,
.nb-gear-menu.open > button.dropdown-toggle:hover,
.nb-gear-menu.open > button.dropdown-toggle:focus {
    color: white;
    background-color: transparent;
}

.nb-gear-menu.open > button.dropdown-toggle {
    color: white;
    background-color: transparent;
}

.nb-gear-menu:hover {
    border: rgba(255, 255, 255, 0.7) solid 1px;
    z-index: 4;
}

.nb-checkbox-wrapper {
    position: absolute;
    top: 6px;
    left: -7px;
    height: 32px;
    width: 48px;
    z-index: 3;
}

.nb-checkbox {
    position: relative;
    left: 15px;
    height: 17px;
    width: 17px;
}

.nb-project-icon {
    display: block;
    opacity: 20%;
    line-height: 100%;
    font-size: 70px;
    text-align: center;
    padding-top: 15px;
}

.nb-project.nb-stopped > .nb-img-top,
.nb-project.nb-project-new > .nb-img-top {
    background: #f8f8f8;
}

.nb-project.nb-stopped > .nb-gear-menu,
.nb-project.nb-stopped > .nb-gear-menu > button.dropdown-toggle,
.nb-project.nb-stopped > .nb-gear-menu > button.dropdown-toggle:hover,
.nb-project.nb-stopped > .nb-gear-menu > button.dropdown-toggle:focus,
.nb-project.nb-stopped > .nb-icon-space {
    color: #000000;
}

.nb-header {
    position: relative;
}

#nb-project-search, #nb-library-search {
    width: 275px;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

#nb-project-search:focus {
    box-shadow: none;
}

#nb-search-button,
#nb-library-button {
    position: absolute;
    top: 1px;
    right: 0;
    height: 30px;
    width: 30px;
    z-index: 2;
    background: transparent;
    border: none;
}

#nb-project-controls {
    position: absolute;
    display: none;
    right: -5px;
    width: 285px;
    top: -5px;
    height: 100px;
    padding-top: 43px;
    z-index: 1;

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--border-color);
    border-color: var(--border-color);
    outline-color: var(--border-color);
}

#nb-project-search:focus ~ #nb-project-controls,
#nb-project-controls:focus,
#nb-project-controls:focus-within {
    display: block;
}

#nb-new {
    width: 275px;
    right: 0;
    position: absolute;
    top: 50px;
}

#nb-bulk {
    right: 285px;
    position: absolute;
    top: 50px;
}

#nb-view {
    right: 285px;
    position: absolute;
    top: 50px;
}

#nb-sort {
    right: 373px;
    position: absolute;
    top: 50px;
}

#nb-library-container, #nb-share-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-body .form-control {
    height: auto;
}

.nb-image {
    position: absolute;
    top: 15px;
    left: 100px;
    color: white;
    z-index: 1;
    font-weight: 700;
    height: 73px;
    width: 73px;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

.nb-matches {
    display: none;
    grid-template-columns: 85px 1fr;
    width: 100%;
    margin: 10px 10px 5px 10px;
    border-top: solid 1px #d2d2d2;
    padding-top: 5px;
    font-size: 0.9em;
    overflow: hidden;
}

.nb-project-list > .nb-matches {
    padding-left: 75px;
}

.nb-match-key {
    font-weight: bold;
}

.nb-advanced {
    display: none;
}

#pinned-tags {
    position: absolute;
    top: 42px;
    right: 0;
    width: 50%;

}

#pinned-tags > li {
    float: right;
}

#nb-preview-tags > span.badge {
    font-size: 1em;
}

.nb-preview-buttons {
    padding: 20px;
}

.nb-preview-buttons > a {
    display: inline-block;
    width: 150px;
}

.nb-spinner {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    font-size: 30vh;
}

#nb-sharing-header {
    display: none;
}

.nb-owner {
    position: absolute;
    top: 72px;
    right: 10px;
    color: black;
    z-index: 1;
    font-weight: 500;
    max-width: 252px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    paint-order: stroke fill;
    -webkit-text-stroke: 5px #f8f8f8;
}

.nb-invite {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    cursor: auto;
}

.nb-invite > .nb-img-top {
    background: rgb(242, 242, 242) none repeat scroll 0 0;
    padding: 10px;
    position: relative;
}

.nb-invite-line {
    font-size: 1em;
    line-height: 1.2em;
    overflow: hidden;
    max-height: 27px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    background: rgb(242, 242, 242) none repeat scroll 0 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.nb-invite-buttons {
    line-height: 100%;
    text-align: center;
}

.nb-invite-accept,
.nb-invite-reject {
    opacity: 0.8;
    padding: 0;
    border: none;
    font-size: 0.9em;
    background: transparent;
}

.nb-invite-accept:hover,
.nb-invite-reject:hover {
    opacity: 1;
}

.nb-invite-accept {
    color: #3c763d;
    margin-right: 20px;
}

.nb-invite-reject {
    color: #a94442;
    margin-left: 20px;
}

.nb-invite-accept > i.fa,
.nb-invite-reject > i.fa {
    font-size: 60px;
}

/** Preview Page **/

#nb-preview-files .fa {
    margin-right: 10px;
}

#nb-preview.container {
    margin-bottom: 50px;
}
