{% extends "page.html" %}

{% block scripts %}
    <style>
        .nb-count {
            width: 75px;
        }
        .nb-table-cell {
            width: 50%;
        }
        .nb-filter {
            position: relative;
            top: -3px;
        }
    </style>
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div id="messages"></div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#projects" aria-controls="home" role="tab" data-toggle="tab">Top Projects</a></li>
            <li role="presentation"><a href="#updates" aria-controls="home" role="tab" data-toggle="tab">Project Updates</a></li>
            <li role="presentation" onclick="stats_page.init_usage_tab()"><a href="#launches" aria-controls="home" role="tab" data-toggle="tab">Project Launches</a></li>
            <li role="presentation" onclick="stats_page.init_usage_tab()"><a href="#tools" aria-controls="home" role="tab" data-toggle="tab">Tool Runs</a></li>
            <li role="presentation" onclick="stats_page.init_usage_tab()"><a href="#labstarts" aria-controls="home" role="tab" data-toggle="tab">Labext Starts</a></li>
            <li role="presentation" onclick="stats_page.init_usage_tab()"><a href="#nbstarts" aria-controls="home" role="tab" data-toggle="tab">Nbext Starts</a></li>
            <li role="presentation" onclick="stats_page.init_usage_tab()"><a href="#other" aria-controls="home" role="tab" data-toggle="tab">Other Events</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="projects">
                <h1>Top 100 Copied Projects</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th># Copied</th>
                        </tr>
                    </thead>
                    <tbody id="nb-most-copied"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="updates">
                <h1>Latest 1000 Project Updates</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Comment</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                    <tbody id="nb-latest-updates"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="tools">
                <h1>Tool Runs</h1>
                <div class="alert lead">
                    <div class="pull-right">
                        <label for="nb-usage-tools-from">From</label> <input id="nb-usage-tools-from" class="nb-from" type="date" value="" />,
                        <label for="nb-usage-tools-to">To</label> <input id="nb-usage-tools-to" class="nb-to" type="date" value="" />
                        <button class="btn btn-primary nb-filter" onclick="stats_page.filter_usage_events(event)">Filter</button>
                    </div>
                    <strong>Count:</strong> <span id="nb-usage-tools-count"></span>
                </div>
                <blockquote>These events are logged each time a g2nb tool runs using the nbtools framework. This
                    includes the UI Builder, GenePattern, Cytoscap widget, IGV widget, etc. Tools are grouped by origin,
                    which is an abstract indicator of from where the tool was loaded.</blockquote>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Origin</th>
                            <th class="nb-count">Tools</th>
                        </tr>
                    </thead>
                    <tbody id="nb-usage-tools"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="launches">
                <h1>Project Launches</h1>
                <div class="alert lead">
                    <div class="pull-right">
                        <label for="nb-usage-launches-from">From</label> <input id="nb-usage-launches-from" class="nb-from" type="date" value="" />,
                        <label for="nb-usage-launches-to">To</label> <input id="nb-usage-launches-to" class="nb-to" type="date" value="" />
                        <button class="btn btn-primary nb-filter" onclick="stats_page.filter_usage_events(event)">Filter</button>
                    </div>
                    <strong>Count:</strong> <span id="nb-usage-launches-count"></span>
                </div>
                <blockquote>These events are triggered each time a user launches a project from their workspace. The
                    project is listed as its slug, as this is each project's unique identifier on the file system and in
                    the projects database.</blockquote>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Projects</th>
                        </tr>
                    </thead>
                    <tbody id="nb-usage-launches"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="labstarts">
                <h1>g2nb Lab Environment Starts</h1>
                <div class="alert lead">
                    <div class="pull-right">
                        <label for="nb-usage-labext-from">From</label> <input id="nb-usage-labext-from" class="nb-from" type="date" value="" />,
                        <label for="nb-usage-labext-to">To</label> <input id="nb-usage-labext-to" class="nb-to" type="date" value="" />
                        <button class="btn btn-primary nb-filter" onclick="stats_page.filter_usage_events(event)">Filter</button>
                    </div>
                    <strong>Count:</strong> <span id="nb-usage-labext-count"></span>
                </div>
                <blockquote>These events get logged each time a JupyterLab environment starts up with g2nb extensions
                    installed. On the g2nb workspace this corresponds to project launches, but it can also help us track
                    g2nb use in users' personal machines or elsewhere.</blockquote>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th class="nb-count">Count</th>
                        </tr>
                    </thead>
                    <tbody id="nb-usage-labext"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="nbstarts">
                <h1>Notebook Environment Starts</h1>
                <div class="alert lead">
                    <div class="pull-right">
                        <label for="nb-usage-nbext-from">From</label> <input id="nb-usage-nbext-from" class="nb-from" type="date" value="" />,
                        <label for="nb-usage-nbext-to">To</label> <input id="nb-usage-nbext-to" class="nb-to" type="date" value="" />
                        <button class="btn btn-primary nb-filter" onclick="stats_page.filter_usage_events(event)">Filter</button>
                    </div>
                    <strong>Count:</strong> <span id="nb-usage-nbext-count"></span>
                </div>
                <blockquote>These events get logged each time a Jupyter Notebook environment starts up with GenePattern or g2nb extensions
                    installed. On the GenePattern Notebook or g2nb workspaces this corresponds to project launches, but it can also help us track
                    use on users' personal machines or elsewhere.</blockquote>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th class="nb-count">Count</th>
                        </tr>
                    </thead>
                    <tbody id="nb-usage-nbext"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="other">
                <h1>Other Events</h1>
                <div class="alert lead">
                    <div class="pull-right">
                        <label for="nb-usage-other-from">From</label> <input id="nb-usage-other-from" class="nb-from" type="date" value="" />,
                        <label for="nb-usage-other-to">To</label> <input id="nb-usage-other-to" class="nb-to" type="date" value="" />
                        <button class="btn btn-primary nb-filter" onclick="stats_page.filter_usage_events(event)">Filter</button>
                    </div>
                    <strong>Count:</strong> <span id="nb-usage-other-count"></span>
                </div>
                <blockquote>These events include anything logged in our database, but which doesn't match any of the
                    known event types handled elsewhere.</blockquote>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Descriptions</th>
                            <th>Count</th>
                            <th>Latest</th>
                        </tr>
                    </thead>
                    <tbody id="nb-usage-other"></tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="/hub/static/js/stats.js"></script>
{% endblock %}